///*==============================================================
//
// color
//
//==============================================================*/

//* base settings
//=============================== */

$key-color: #e60012;

$key-color-01: #ce0000;
$key-color-02: #a7d93e;
$key-color-03: $key-color;
$key-color-04: #b5e059;

$key-color-light: #f5f5f5;
$key-color-dark: #000;

$body-color: #313131;

$key-color-05: #0074ee;

$point-color: #ffdd00;

$point-color-01: #61d2d9;

$point-color-02: #bf9400;

$bg-color: #f1f1f1;
$bg-color-light: #f7f7f7;

$border-color: #ddd;

$highlight-color: #e6002d;


//* x
//=============================== */

$black_L1: #989898;
$black: #000;
$black_D1: #222;
$black_D2: #434343;

$gray_bg: #f2f2f2;
$gray_border: #DFDFDF;

$dark_bg: #434343;

$gray: #f7f7f7;

$white: #fff;
$red: #cc0000;


$calendar-color: #5ba1dc;

$key-color-bg: #dcf3f9;


$point-color-light: #d1c3b4;
$point-color-light2: #dec7a9;
$point-color-dark: #8f7554;

$ciao: #0068b7;




//* table
//=============================== */

$table_darkest_color : #434343;
$table_darker_color  : #989898;
$table_lighter_color : #e5e5e5;
$table_lightest_color: $gray_bg;

