---
layout: _default
header:
  title: ページ名
  description: ディスクリプションテキスト
  keyword: キーワード, キーワード, キーワード,
css: [
  '/assets/css/style.css'
  ]
js: [
  '/assets/js/bundle.js'
]
---
<p><%= header.title %></p>
