<% include ../../../../function -%>
<!--[if lt IE 9]>
    <div class="showIE">
      <p class="showIE__text">当サイトをご覧になる場合、以下のブラウザを推奨いたします。</p>
      <p class="showIE__text">Windows :
        <a href="//www.hondanet.co.jp/jump/browser/ie.html" target="_blank">Internet Explorer 11.x以降</a> /
        <a href="//www.hondanet.co.jp/jump/browser/chrome.html" target="_blank">Chrome 最新版</a> /
        <a href="//www.hondanet.co.jp/jump/browser/firefox.html" target="_blank">FireFox 最新版</a>
      </p>
      <p class="showIE__text">Macintosh :
        <a href="//www.hondanet.co.jp/jump/browser/safari.html" target="_blank">Safari 最新版</a> /
        <a href="//www.hondanet.co.jp/jump/browser/chrome.html" target="_blank">Chrome 最新版</a> /
        <a href="//www.hondanet.co.jp/jump/browser/firefox.html" target="_blank">FireFox 最新版</a>
      </p>
      <p class="showIE__text">これらのブラウザ以外でご覧いただくと、機能の一部が正しく動作しない場合があります。<br>
      また、推奨環境下でもお客様のウェブブラウザの設定によっては、ご利用できないもしくは正しく表示されない場合がございます。</p>
    </div>
<![endif]-->
