---
layout: _default
header:
  title: Top
  description: これはホゲのサイトです。
  keyword: ホゲ, イケてるサイト, いいかんじのサイト
css: [
  '/assets/css/style.css'
  ]
js: [
  '/assets/js/bundle.js'
]
---
<p><%= header.title %></p>
